<div
  class="modal fade"
  id="imagePopup"
  tabindex="-1"
  aria-labelledby="imagePopupLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="imagePopupLabel">{{ funkoName }}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          src="{{ displayImage }}"
          class="img-fluid rounded mx-auto d-block"
          alt="imageName"
        />
      </div>
      <div class="modal-footer">
        <span class="">{{ displayImageName }}</span>
      </div>
    </div>
  </div>
</div>
